{% extends "core/base.html" %}

{% block title %}Nuevo Gasto{% endblock %}

{% block content %}
{% if  request.user.is_authenticated %}
  <main>
    <div class="container col-xl-10 col-xxl-8 px-4 py-5">
      <div class="row align-items-center g-lg-5 py-5">
        <div class="col-md-10 mx-auto col-lg-5">
          <form class="p-4 p-md-5 border rounded-3 bg-light" method="post">{% csrf_token %}
            <a href="{% url 'home' %}">
            <div class=" row align-items-center justify-content-center mb-3">
              <button class="w-25 btn btn-sm btn-outline-secondary" type="button"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
              </svg></button>
            </div>
            </a>
            <div class="form-floating mb-3">
              {{ form.fecha }}
                <label for="id_fecha">Fecha</label>
                <!--<input type="date" class="form-control" id="floatingInput" placeholder="date">
                <label for="floatingInput">Fecha</label>-->
              </div>
              <div class="form-floating mb-3">
                {{ form.importe}}
                <label for="id_importe">Importe</label>
                <!--<input type="number" class="form-control" id="floatingInput" placeholder="number" value="0.00">
                <label for="floatingInput">Importe</label>-->
              </div>
              <div class="form-floating mb-3">
                {{ form.descripcion}}
                <label for="id_descripcion">Descripcion</label>
                <!--<input type="text" class="form-control" id="floatingInput" placeholder="Descripcion">
                <label for="floatingInput">Descripcion</label>-->
              </div>
              <div class="form-floating mb-3">
                {{ form.categoria }}
                <label for="id_categoria">Categoria</label>
                <!--<input type="text" class="form-control" id="floatingInput" placeholder="Categoria">
                <label for="floatingInput">Categoria</label>-->
              </div>
              <div class=" row align-items-center justify-content-center">
                <div class="btn-group btn-group" role="group" aria-label="...">
                  {% for cat in categorias %}
                    <button type="button" class="btn btn-outline-secondary nivelcategoria">{{ cat.categoria }}</button>
                  {% endfor %}
                </div>
                <div class="btn-group btn-group" role="group" aria-label="...">
                  {% for cat in categoriasdos %}
                    {% if forloop.counter < 5 %}
                      <button type="button" class="btn btn-sm btn-outline-secondary nivelcategoria">{{ cat.categoria }}</button>
                    {% endif %}
                  {% endfor %}
                </div>
                <div class="btn-group btn-group" role="group" aria-label="...">
                  {% for cat in categoriastres %}
                    {% if forloop.counter < 5 %}
                      <button type="button" class="btn btn-sm btn-outline-secondary nivelcategoria">{{ cat.categoria }}</button>
                    {% endif %}
                  {% endfor %}
                </div>
            </div>
            <br>
            <a href="{% url 'gasto:list' %}">
            <div class=" row align-items-center justify-content-center">
                <button class="w-50 btn btn-sm btn-outline-secondary" type="button"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-list" viewBox="0 0 16 16">
                    <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                    <path d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8zm0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-1-5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zM4 8a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm0 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z"/>
                  </svg></button>
            </div>
            </a>
            <hr class="my-4">
            <button class="w-100 btn btn-lg btn-secondary" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
              </svg></button>
          </form>
        </div>
      </div>
    </div>
  </main>
  {% endif %}
{% endblock %}